.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #80493C;
  max-height: 40px;
  font-family: 'Poppins', sans-serif;

}

.logo {
  height: 8em;
  margin: 5px;
}
